<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta content="width=device-width, initial-scale=1" name="viewport" />

	<meta name="theme-color" content="#000000">
	<title>Wendigo</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="/scripts/index.js?v=1.0"></script>
	<link href="/stylesheets/reset.css?v=1.0" rel="stylesheet">
	<link href="/stylesheets/main.css?v=1.0" rel="stylesheet">
	<link rel="icon" 
      type="image/png" 
      href="/favicon.ico" />
</head>

	<body>
		<div id="header">
			<div class="header-left">
				<div class="header-title">
					Wendigo
				</div>
				<a class="header-item"  href="/">
					Search Traders
				</a>
				<a class="header-item"  href="/position">
					Manage Copied Positions
				</a>

				<a class="header-item"  href="/uni_tools">
					Uniswap Token Tools
				</a>					
			</div>
		</div>
		<div id="content-container">
			<%= yield %>
		</div>

	</body>
</html>

