<div id="filter-bar">
	
	<section id="trader-search-options">
		<div class="section-header">Search Options</div>
		<div class="section-body">
			<div class="filter-row">
				<div class="filter-label">Time Start</div>
				<input class="filter-field" id="time-start" placeholder=0>
			</div>

			<div class="filter-row">
				<div class="filter-label">Time End</div>
				<input class="filter-field" id="time-end" >
			</div>


			<div class="filter-row">
				<div class="filter-label">Minimum PnL</div>
				<input class="filter-field" id="min-pnl" placeholder=0>
			</div>

			<div class="filter-row">
				<div class="filter-label">Minimum PnL %</div>
				<input class="filter-field" id="min-pnl-perc" placeholder=0>
			</div>

			<div class="filter-row">
				<div class="filter-label">Minimum Win %</div>
				<input class="filter-field" id="min-win" placeholder=0>
			</div>

			<div class="filter-row">
				<div class="filter-label">Minimum Trade Count</div>
				<input class="filter-field" id="min-trade" placeholder=1>
			</div>

			<div id="submit-search">
				Search
			</div>
		</div>
	</section>
</div>

<div id="content">

	<section id="trader-results">
		<div class="section-header">Traders</div>
		<div class="section-body">
			<div id="trader-table">
				<div class="trader-table-header">
					<div class="adr">Address</div>
					<div class="pnl">PnL</div>
					<div class="pnl_perc">PnL %</div>
					<div class="winrate">Win Rate</div>
					<div class="trade_count"># Trades</div>
					<div class="std">STD</div>
				</div>

				<div id="trader-table-body">
					



				</div>
				

			




			</div>



		</div>
	</section>
	


</div>