<div id="filter-bar">
	
	<section id="trader-search-options">
		<div class="section-header">Your Recommended Position</div>
		<div class="section-body">
			
		</div>
	</section>
</div>

<div id="content">

	<section id="trader-results">
		<div class="section-header">Copy List</div>
		<div class="section-body">

			<div id="table-input">
				<input id="trader-add" placeholder="Address 0x...">
				<div id="add-trader-btn">Add</div>
			</div>
			
			<div id="trader-table">
				
					
				</div>

				<div class="trader-table-header">
					<div class="adr">Address</div>
					<div class="asset">Asset</div>
					<div class="direction">Direction</div>
					<div class="pnl">PnL</div>
					<div class="allocation">Allocation</div>
				</div>

				<div id="trader-table-body">

					



				</div>
				

			




			</div>



		</div>
	</section>
	


</div>