<div id="filter-bar">
	
	<section class="pool-calc-options" id="cb-calc">
		<div class="section-header">Average Cost Basis</div>
		<div class="section-body">
			<div class="filter-row">
				<div class="filter-label">Address</div>
				<input class="filter-field" id="pool-address" placeholder="0x...">
			</div>

			<div class="filter-row">
				<div class="filter-label">Token</div>
				<input class="filter-field" id="pool-token" placeholder="0x...">
			</div>

			<div class="filter-row">
				<div class="filter-label">Price Lower Bound</div>
				<input class="filter-field" id="pool-lb" placeholder="0">
			</div>

			<div class="filter-row">
				<div class="filter-label">Price Upper Bound</div>
				<input class="filter-field" id="pool-ub" placeholder="0">
			</div>

			<div id="calc-cb">
				Calculate
			</div>


		</div>
	</section>

	<section id="corr-calc" class="pool-calc-options">
		<div class="section-header">Pool Correlation</div>
		<div class="section-body">
			<div class="filter-row">
				<div class="filter-label">Pool 1 Address</div>
				<input class="filter-field" id="pool1-adr" placeholder="0x...">
			</div>

			<div class="filter-row">
				<div class="filter-label">Pool 1 Token</div>
				<input class="filter-field" id="pool1-token" placeholder="0x...">
			</div>


			<div class="filter-row">
				<div class="filter-label">Pool 2 Address</div>
				<input class="filter-field" id="pool2-adr" placeholder=0>
			</div>

			<div class="filter-row">
				<div class="filter-label">Pool 2 Token</div>
				<input class="filter-field" id="pool2-token" placeholder=0>
			</div>

			<div id="calc-corr">
				Calculate
			</div>
		</div>
	</section>
</div>

<div id="content">

	<section id="trader-results">
		
	</section>
	


</div>